.App {
  text-align: center;
}
.heap-div{
  overflow-x: auto; 
  background-color: #202020;
}

.react-calendar-heatmap .color-scale-1 { fill: #fa817e; }
.react-calendar-heatmap .color-scale-2 { fill: #f6565c; }
.react-calendar-heatmap .color-scale-3 { fill: #f22c35; }
.react-calendar-heatmap .color-scale-4 { fill: #bf242f; }
.react-calendar-heatmap .color-scale-5 { fill: #891f23; }

.react-calendar-heatmap .react-calendar-heatmap-small-square {
  padding: 5px;
  margin: 2px;
}

.week-labels {
  display: grid;
  margin-top: 1%;
  padding-right: 10px;
}

.day-label {
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
}
.react-calendar-heatmap-month-labels{
  margin-bottom: 2% !important;
}
.description{
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
  margin-right: 2%;
  border: 1px solid grey;
  border-radius: 5px;
  float: right;
  color: grey;
  width: max-content;
  font-size: 18px;
  height: 45px;
  margin-bottom: 20px;
}
.description h5{
  padding: 0 12px;

}
.description span{
  width: 22px;
  height: 22px;
  background-color: red;
  margin-inline: 5px;
  border-radius: 5px;  
}